.loginpage {
  min-height: 100vh;

  .loginpage__form__wrapper {
    width: 35%;
    margin: 0 auto;
  }
}

@media screen and (max-width: 768px) {
  .loginpage {
    .loginpage__form__wrapper {
      width: 80%;
    }
  }
}

.form {
  display: flex;
  flex-direction: column;
  row-gap: 25px;
  justify-content: center;
  padding: 70px 50px;
  border-radius: 20px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.7);
  background-color: rgba(0, 0, 0, 0.9);

  .form__group {
    display: flex;
    flex-direction: column;

    .form__label {
      padding: 0 0 5px 10%;
      color: #fff;
      font-size: 20px;
    }

    .form__input {
      width: 90%;
      margin: 0 auto;
      padding: 10px;
      text-align: center;
      font-size: 20px;
      border: 1px solid black;
      border-radius: 25px;

      &.error {
        border: 2px solid#b22222;
      }
    }

    .form__error {
      padding: 5px 0 0 10%;
      color: #b22222;
    }
  }
  .form__btn {
    width: 50%;
    margin: 20px auto 0;
    padding: 10px;
    font-size: 20px;
    border-radius: 50px;
    background-color: white;
  }
}
