body {
  position: absolute;
  top: 0;
  width: 100%;
  background-color: rgb(245, 245, 245);
  font-family: 'Ubuntu', sans-serif;

  &._lock {
    overflow: hidden;
  }
}

h1 {
  padding: 60px 0 40px 0;
  text-align: center;
  font-size: 45px;
}

@media screen and (max-width: 768px) {
  h1 {
    padding-top: 80px;
    font-size: 35px;
  }
}

.display__none {
  display: none;
}

@font-face {
  font-family: 'Ubuntu';
  src: url('../media/fonts/Ubuntu/Ubuntu-Light.ttf') format('truetype');
}
